.topBar {
  color: #1224C0 !important;
}

.tabs {
  color: #ffdb4d !important;
}


.column {
  width: 31%;
  margin: 0 auto;
  margin-bottom: 16px !important;
  padding: 0 8px;
  font-size: 18px;
}

.columnabt {
  float: left;
  width: 31%;
  margin-bottom: 16px;
  padding: 0 8px;
  font-size: 18px;
}


.column2 {
  width: 20%;
  margin-bottom: 16px;
  padding: 0 20px;
  font-size: 18px;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

*, *:before, *:after {
  box-sizing: inherit;
}


.position {
  color: grey;
}

.sidespacing {
  padding: 100px;
  margin: auto;
}

.centered {
  text-align: center;
  margin: auto;
  display: block;
}

.centeredimg{
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-size: cover !important;
  width: 200px;
  height: 250px;
  object-fit: cover;
}

p {
  font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif !important; 
}

.imagespacing{
  display: block;
  position: relative !important;
}

.imagespacing::before{
  content: "" !important;
  opacity: 0.3 !important;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute !important;
}

p.small{
  font-size: 14px;
  margin: 10px, 0px !important;
}

iframe{
  margin-right: auto;
  margin-left: auto;
  width: 100%;
}
